/* --------------main--------------*/
h1,h2,h3,h4,h5,h5{
    color: #4FC3F7;
}
p {
    color: #4FC3F7;
    font-size: larger;
}

hr {
    color: #4FC3F7;
}
/* --------------slide-------------- */
.carousel-inner{
    border-radius: 40px;
}

/*-------------- Grid-------------- */
.grid {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 100px minmax(160px, auto) auto;
    grid-template-areas: 
      'header header'
      'main main'
      'submain submain'
      'footer footer';
    column-gap: 7px;
    row-gap: 10rem;
  }
  
  .page-header {
    grid-area: header;
  }
  
  .page-main {
    grid-area: main;
  }

  .page-submain {
    grid-area: submain;

  }
  
  .page-footer {
    grid-area: footer;
  }
  
  .content {
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
  }
/*-------------- griditem-------------- */
.grid-item {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: stretch;
    align-items: center;
    column-gap: 13px;
    row-gap: 15px;
  }
  .content-item {
    color: #242424;
    background-color: #505050;
    font-weight: 600;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    border-radius: 20px;
  }
  /* --------------welcometomywebsite-------------- */

.typing::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: #4FC3F7;
    animation: cursorBlink 0.8s steps(3) infinite;
}

@keyframes cursorBlink {

    0%,
    75% {
        opacity: 1;
    }

    76%,
    100% {
        opacity: 0;
    }
}

.typing {
    position: relative;
    -webkit-box-reflect: below 20px linear-gradient(transparent, #3333);
}

.typing h2 {
    margin: 10px ;
    position: relative;
    color: #4FC3F7;
    letter-spacing: 2px;
    font-size: 3rem;
    overflow: hidden;
    margin-bottom: 7rem;
    animation: type 3s steps(20)  ;
}

@keyframes type {

    0% {
        width: 0px;
    }

    100% {
        width: 100%;
        
    }
}

@media(max-width: 330px) {
    .typing h2 {
        font-size: 3rem;
        animation: type 5s steps(10) infinite;
    }

    @keyframes type {

        0%,
        100% {
            width: 0px;
        }

        30%,
        60% {
            width: 305px;
        }
    }
}