/* --------------main--------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #76ABAE;
}

p {
    color: #76ABAE;
    font-size: larger;
}

hr {
    color: rgb(118, 171, 174);
    padding-top: 0;
}
img{
    filter: drop-shadow(0 0 10px rgb(118, 171, 174,0.5));
}
.img {
    position: relative;
    display: inline-block; 
  }

  .img-1 {
    width: 70%;
    position: relative;
    z-index: 1;
    animation: rotateInfinity 5s infinite linear;
  }
  @keyframes rotateInfinity {
    from {
      transform: rotate(0deg); /* Start from no rotation */
    }
    to {
      transform: rotate(360deg); /* Rotate 360 degrees */
    }
  }

  .img-2 {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 2; 
  }

.section-1 {
    height: 100vh;
}

/* --------------slide-------------- */
.carousel-inner {
    border-radius: 40px;
}

/*-------------- Grid-------------- */
.grid {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 100px minmax(160px, auto) auto;
    grid-template-areas:
        'header header'
        'main main'
        'submain submain'
        'footer footer';
    column-gap: 7px;
    row-gap: 10rem;
    
}

.page-header {
    grid-area: header;
}

.page-main {
    grid-area: main;
}

.page-submain {
    grid-area: submain;

}

.page-footer {
    grid-area: footer;
}

.content {
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    
}

/*-------------- griditem-------------- */
.grid-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: stretch;
    align-items: center;
    column-gap: 13px;
    row-gap: 15px;
}

.content-item {
    color: #31363F;
    background-color: #EEEEEE;
    font-weight: 600;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 1px 0px 27px 4px rgba(117, 117, 117, 0.479);
    -webkit-box-shadow: 1px 0px 27px 4px #76ABAE;
    -moz-box-shadow: 1px 0px 27px 4px rgba(0,0,0,0.49);
}

/* --------------welcometomywebsite-------------- */

.typing::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: #76ABAE;
    animation: cursorBlink 0.8s steps(3) infinite;
    
}

@keyframes cursorBlink {

    0%,
    75% {
        opacity: 1;
    }

    76%,
    100% {
        opacity: 0;
    }
}

.typing {
    position: relative;
    -webkit-box-reflect: below 20px linear-gradient(transparent, #3333);
}

.typing h2 {
    margin: 0px;
    position: relative;
    color: #76ABAE;
    letter-spacing: 2px;
    font-size: 3rem;
    overflow: hidden;
    animation: type 3s steps(20);
    display: inline-block;
    
}

@keyframes type {

    0% {
        width: 0px;

    }

    100% {
        width: 100%;

    }
}

@media(max-width: 768px) {
    .grid-item {
        grid-template-columns: 1fr 1fr;
    }

    .content-item {
        height: 100%;
    }

    .typing h2 {
        margin: px;
        position: relative;
        color: #76ABAE;
        letter-spacing: 2px;
        font-size: 2rem;
        overflow: hidden;
        animation: type 3s steps(20);
        display: inline-block
    }
}

@media(max-width: 414px) {
    .typing h2 {
        margin: px;
        position: relative;
        color: #76ABAE;
        letter-spacing: 2px;
        font-size: 1.5rem;
        overflow: hidden;
        animation: type 3s steps(20);
        display: inline-block
    }

    @keyframes type {

        0% {
            width: 1px;
        }


        100% {
            width: 305px;
        }
    }
}