/* LoadingScreen.css */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222831; /* Black background with some transparency */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Text color */
  transition: opacity 0.3s ease
}
