.navbar-brand img {
    width: 50px;
    padding: 0px;
    margin: 0px;
    border-radius: 20%;
    filter: drop-shadow(#31363F 0.5rem 0.5rem 1rem);
    transform: scale(1);
    transform-origin: bottom;
    transition: transform 0.5s ease; 
}

.navbar-brand img:hover {
    filter: invert(90%);
    opacity: 0.9;
    transform: scale(0.9);
}

.navbar {
    background-color: #76ABAE;
    transition: 0.5s;
}

.navbar-nav a{
    transform: scale(1);
    transform-origin: bottom;
    transition: transform 0.5s ease; 
}
.nav-link.active{
    transform: scale(1.1);
}

.navbar-nav a:hover{
    transform: scale(1.1)
}
/* Add smooth transition effect */
.navbar--hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

/* Add smooth transition effect */
.navbar--show {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}

.navbar-nav .nav-link {
    float: left;
    color: #31363F;
    text-align: center;
    padding: 1px 5px;
    text-decoration: none;
    border-radius: 20px;
    margin: 0 1px;
    text-align: center;
    text-transform: uppercase;
}

/* animation */
.navbar-nav a::before {
    content: "";
    width: 100%;
    height: 0.1rem;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #EEEEEE;
    transition: transform 0.5s ease;
    transform: scale3d(0, 1, 1);
    transform-origin: 0 50%;
}
/* hover animation add */
.navbar-nav a:hover::before {
    transform: scale3d(1, 1, 1);
}

/* add now here */
.nav-link.active::before {
    transform: scale3d(1, 1, 1);
}
.navbar-nav a {
    border-radius: 10px;

}

