.w-no{
    width: 1%;
    height: 100%;
}
.w-name{
    width: 13%;
}

.w-tel{
    width: 7%;
    height: 100%;
}

.w-product {
    width: 15%;
    height: 100%;
    
}

.w-from{
    width: 1%;
    height: 100%;
}

.w-date{
    width: 1%;
    height: 100%;
}

.w-status{
    width: 10%;
    height: 100%;
}

.h-100{
    height: 100%;
}