@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
* {
    font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
body {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: #121215;
    
}
h1,h2 {
    margin: 0 0;
}